.env
gitea-data/
gitea-config/
gitea-runner-data/
!gitea-runner/
dockge-data/
dockge-stacks/
dockge-docker-config/
dockge-docker-data/
postgres-data/
redis-data/
mongodb-data/
mongodb-config/
node_modules/
